.intro {
    justify-content: center;
    text-transform: uppercase;
    height: 100px;
}

.intro h2 {
    text-align: center;
    font-size: 28px;
    color: white;
    font-weight: 800;
    text-decoration: underline;
}

.players-list {
    display: flex;
    justify-content: center;
    flex: content;
    flex-flow: row wrap;
    width: 100%;
    font-size: 70%;
}



.btns {
    width: 95%;
    margin-left: 2.5%;
    color:rgb(15, 15, 25);
}

.btns section {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;

}

.btn {
    width: 325px;
    padding: 20px 0;
    margin: 15px 35px;
    border-radius: 0.75em;
    background-color: rgba(225, 225, 225, 0.5);
    font-weight: 600;
    border: 3px solid white;
    font-size: 16px;
    text-transform: uppercase;
    box-shadow: 4px 3px 3px rgba(175, 175, 175, 0.25);
    transition: all 250ms 150ms ease-out;
    cursor: pointer;
}

.btn:hover {
    transform: translate(3px, 3px);
    background-color: rgba(225, 225, 225, 0.75);
    transition: all 250ms 350ms ease-in-out;
    box-shadow: none;
}