footer {
    background-color: rgb(225, 225, 225, 0.5);
    margin-top: 30px;
    padding: 10px;
    border-top: 5px solid white;
    font-weight: 600;
}

footer p {
    width: 95%;
    margin-left: 2.5%;
}

footer a {
    color: rgb(18, 26, 73);
}

h4 {
    width: 95%;
    margin-left: 2.5%;
    font-size: 120%;
    font-weight: 700;
}